.styled-table {
    border-collapse: collapse;
    margin: 3vh auto 7vh;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-height: 70vh;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    background-color: #f3f3f3;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

footer {
    margin-top: 8.1vh;
}

.pagination {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #3c6e71;
}
  
.pagination a, .pagination span {
    background-color: #ddd;
    color: black;
    float: left;
    padding: 8px 30px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a span {
    border: none;
    padding: 0;
}