/* CSS GRID FOR LANDING PAGE */

.container{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 10fr 2fr;
}

/* Landing Text Styles */
.container .landing-text {
    grid-row: 2;
    margin-left: 20%;
    height: 95vh;
}

.container .landing-text p {
    color: rgb(235, 232, 232);
    font-family: 'Great Vibes', cursive;
    font-size: 10vw;
    border-bottom: 2px solid #FFFF;
    max-width: 65vw;
}

.container .landing-text p.subtext {
    border: none;
    font-family: 'Lilita One', cursive;
    font-size: 3vw;
    text-align: center;
}

.container .landing-text p:not(.subtext) {
    margin-top: 20vh;
}