@import url(forms.css);

.form-structor.user {
  height: 70vh;
}

.form-structor.employee {
  height: 110vh;
}

.form-structor.order {
  height: 140vh;
}

.form-structor.existent-product {
  height: 80vh;
}

.form-structor.client {
  height: 90vh;
}

.form-structor.product {
  height: 86vh;
}

.form-structor.payment {
  height: 22vh !important;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .center {
    flex-direction: column;
  }

  .form-structor.order {
    height: 100vh;
  }

  .form-structor.existent-product {
    height: 58vh;
  }

  .form-structor.client {
    height: 65vh;
  }
  
  .form-structor.product {
    height: 60vh;
  }

  .form-structor.employee {
    height: 78vh;
  }

  .form-structor.user {
    height: 52vh;
  }

  .form-structor.payment {
    height: 22vh !important;
  }

  form.example input[type=text] {
    width: 30%;
  }

  form.example button {
    width: 10%;
  }
}